/* global styles */

#header { 
	position:relative;
}

	#logo {
		float:left;
		width:250px;
		margin:10px;
	}

		#logo img {
			width:inherit;
			height:auto;
		}

	#nav {
		position:absolute;
		right:10px;
	}

		#nav li {
			display:inline;
			list-style-type:none;
		}

.banner_img {
    width:100%;
    height:80vh;
}

.content-wrapper {
	max-width:1500px;
	margin:0 auto;
}

/* homepage styles */

.homepage-modules {
	padding:0;
	text-align:center;
}

	.homepage-modules li {
		display:inline-block;
		width:30%;
		margin:0 1%;
	}

		.homepage-modules .square-img-wrap {
			width:100%;
		}

			.homepage-modules .square-img-wrap .inner {
				padding-bottom:100%;
			}